extensions:
  health_check:
    endpoint: 0.0.0.0:13133
    path: /

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - "http://*"
            - "https://*"

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

  memory_limiter:
    check_interval: 1s
    limit_mib: 512

  resource:
    attributes:
      - action: insert
        key: loki.resource.labels
        value: environment,service.name,service.version
  
  transform/logs_to_resource:
    log_statements:
      - context: log
        statements:
          - set(attributes["level"], attributes["level"]) where attributes["level"] != nil
          - set(attributes["environment"], resource.attributes["environment"]) where resource.attributes["environment"] != nil
          - set(attributes["service_name"], resource.attributes["service.name"]) where resource.attributes["service.name"] != nil
          - set(attributes["service_version"], resource.attributes["service.version"]) where resource.attributes["service.version"] != nil


exporters:
  otlp:
    endpoint: jaeger:4317
    tls:
      insecure: true
  
  loki:
    endpoint: http://loki-cloud:3100/loki/api/v1/push
    default_labels_enabled:
      exporter: true
      level: true
      environment: true
      service_name: true
      service_version: true
  
  logging:
    loglevel: debug

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlp, logging]
    
    logs:
      receivers: [otlp]
      processors: [memory_limiter, resource, transform/logs_to_resource, batch]
      exporters: [loki, logging]

