---
- name: Sync files to Cloud VM
  hosts: cloud
  tasks:
    - name: Use project root from environment
      set_fact:
        project_root: "{{ lookup('env', 'PROJECT_ROOT') }}"
      when: PROJECT_ROOT is defined

    - name: Sync project files with rsync
      synchronize:
        src: "{{ project_root }}/"
        dest: "{{ app_directory }}"
        delete: no
        compress: false
        rsync_opts:
          - "--exclude=.git/"
          - "--exclude=.ignore/"
          - "--exclude=*.md"
          - "--exclude=bazel*"
          - "--exclude=bin/"
          - "--exclude=coverage/"
          - "--exclude=cpp_accelerator/"
          - "--exclude=webserver/web/node_modules"
          - "--exclude=third_party/"
          - "--exclude=venv-mcp/"
          - "--exclude=grpc-test/"
          - "--exclude=.cache/"
          - "--exclude=test-data/"
        mode: push
