{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch Package",
            "type": "go",
            "request": "launch",
            "mode": "auto",
            "program": "${workspaceFolder}/src/go_api/cmd/server/main.go",
            "cwd": "${workspaceFolder}",
            "args": [
                "-config",
                "${workspaceFolder}/config/config.dev.yaml"
            ]
        },
        {
            "name": "Attach to Go Process",
            "type": "go",
            "request": "attach",
            "mode": "local",
            "processId": 100,
            "cwd": "${workspaceFolder}"
        },
        {
            "name": "Attach to C++ Accelerator",
            "type": "cppdbg",
            "request": "attach",
            "program": "${workspaceFolder}/bazel-bin/src/cpp_accelerator/cmd/accelerator_control_client/accelerator_control_client",
            "processId": 200,
            "MIMode": "gdb",
            "cwd": "${workspaceFolder}"
        },
        {
            "type": "chrome",
            "request": "launch",
            "name": "Debug Front-end",
            "url": "https://localhost:3000",
            "webRoot": "${workspaceFolder}/src/front-end",
            "sourceMaps": true
        }
    ]
}
